$marker-color: #c65656;
$default-transition-duration: 200ms;

.maplibregl-canvas {
    cursor: url(cursor.png) 16 16, auto !important;
}

.maplibregl-marker {
    cursor: url(cursor.png) 16 16, auto !important;
}

.maplibregl-ctrl-attrib {
    display: none;
}

.marker {

    circle {

        transition-property: all;
        transition-duration: $default-transition-duration;
        fill: $marker-color;
    }

    .popup-text {
        opacity: 0;
        top: -16px;
        left: 15px;
        width: 300px;
        position: absolute;
        pointer-events: none;
        color: $marker-color;

        font-weight: bold;
        font-size: 16px;

        transition-property: all;
        transition-duration: $default-transition-duration;
    }
}


.container-hover-active {

    .marker {
        circle {
            opacity: 0.2;
            fill: black
        }
    }

    .marker-focused, .marker-selected {

        z-index: 10;

        circle {
            opacity: 1;
            fill: $marker-color;
        }

        .popup-text {
            opacity: 1;
            animation-name: text-transition-animation;
            animation-duration: $default-transition-duration;
            animation-timing-function: cubic-bezier(0,.57,.18,.99);
        }

        @keyframes text-transition-animation {
            0% {
                transform: translateY(12px);
            }

            100% {
                transform: translateY(0px);
            }
        }
    }

}

#main-cont {
    display: flex;
    min-height: 100vh;
}

#map {
    width: 100%;
}

#details-popup {
    
}
 

.map-halfsize {
    width: 50%
}